# Virtual environment
venv/

# Uploads and temporary data
uploads/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Large model files
*.h5
*.hdf5

# Environment or OS-specific files
.DS_Store
Thumbs.db
